src/main/webapp/wsdl/ClientManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://exercise.multicert.pedromdcr.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://exercise.multicert.pedromdcr.com" xmlns:intf="http://exercise.multicert.pedromdcr.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://exercise.multicert.pedromdcr.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="init">
    <complexType/>
   </element>
   <element name="initResponse">
    <complexType/>
   </element>
   <element name="removeClient">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="nif" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="phoneNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeClientResponse">
    <complexType>
     <sequence>
      <element name="removeClientReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientByNif">
    <complexType>
     <sequence>
      <element name="nif" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientByNifResponse">
    <complexType>
     <sequence>
      <element name="getClientByNifReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addClientService">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="nif" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="phoneNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addClientServiceResponse">
    <complexType>
     <sequence>
      <element name="addClientServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAllClients">
    <complexType/>
   </element>
   <element name="listAllClientsResponse">
    <complexType>
     <sequence>
      <element name="listAllClientsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientByName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientByNameResponse">
    <complexType>
     <sequence>
      <element name="getClientByNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getClientByNifRequest">

      <wsdl:part element="impl:getClientByNif" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addClientServiceRequest">

      <wsdl:part element="impl:addClientService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllClientsRequest">

      <wsdl:part element="impl:listAllClients" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllClientsResponse">

      <wsdl:part element="impl:listAllClientsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeClientRequest">

      <wsdl:part element="impl:removeClient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientByNameRequest">

      <wsdl:part element="impl:getClientByName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initRequest">

      <wsdl:part element="impl:init" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeClientResponse">

      <wsdl:part element="impl:removeClientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addClientServiceResponse">

      <wsdl:part element="impl:addClientServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initResponse">

      <wsdl:part element="impl:initResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientByNifResponse">

      <wsdl:part element="impl:getClientByNifResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientByNameResponse">

      <wsdl:part element="impl:getClientByNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ClientManager">

      <wsdl:operation name="init">

         <wsdl:input message="impl:initRequest" name="initRequest">

       </wsdl:input>

         <wsdl:output message="impl:initResponse" name="initResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeClient">

         <wsdl:input message="impl:removeClientRequest" name="removeClientRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeClientResponse" name="removeClientResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClientByNif">

         <wsdl:input message="impl:getClientByNifRequest" name="getClientByNifRequest">

       </wsdl:input>

         <wsdl:output message="impl:getClientByNifResponse" name="getClientByNifResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addClientService">

         <wsdl:input message="impl:addClientServiceRequest" name="addClientServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:addClientServiceResponse" name="addClientServiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllClients">

         <wsdl:input message="impl:listAllClientsRequest" name="listAllClientsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllClientsResponse" name="listAllClientsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClientByName">

         <wsdl:input message="impl:getClientByNameRequest" name="getClientByNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getClientByNameResponse" name="getClientByNameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClientManagerSoapBinding" type="impl:ClientManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="init">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeClient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeClientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeClientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClientByNif">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClientByNifRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getClientByNifResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addClientService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addClientServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addClientServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllClients">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllClientsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllClientsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClientByName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClientByNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getClientByNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClientManagerService">

      <wsdl:port binding="impl:ClientManagerSoapBinding" name="ClientManager">

         <wsdlsoap:address location="http://localhost:8080/MulticertWS/services/ClientManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
